/* MENU DU BLOG */
.navbar
{
    background-color: #2c3e50;
    box-shadow: 0px 8px 8px -10px black;
}


#mainNav .navbar-toggler .navbar-toggler-icon
{
    color: #FFF;
}


.navbar-toggler .fa-align-justify
{
    color: white;
}


#mainNav .navbar-brand
{
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 700;
}


#mainNav .navbar-nav li.nav-item a.nav-link
{
    color: #FFF;
    font-weight: 500;
}


#mainNav
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* CORPS ET PIED DU BLOG */
body
{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}


footer
{
    background-color: #2c3e50;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #FFF;
}


.copyright
{
    background-color: black
}



/* PAGE D'ACCUEIL*/
.page-accueil
{
    background: url("https://cdn.pixabay.com/photo/2016/02/07/19/48/aurora-1185464_1280.jpg") no-repeat center center;
    background-size: cover;
    /*padding: 10em;*/
}


.page-accueil-cards
{
    margin-top: 5em;
}


.text_acceuil
{
    text-shadow: 1px 1px 10px black;
}


.row
{
    display: flex;
    flex-wrap: wrap;
}


/* PAGE D'UN BILLET ET SES COMMENTAIRES*/
.container_billet
{
    margin-top: 2em;
    margin-bottom: 2em;
}


.container_billet a
{
    margin-top: 10px;
}


.bouton_vue_billet
{
    margin-bottom: 20px;
}


.container_comments .background_comment p
{
    color: white;
}


.container_addcomment
{
    padding-bottom: 60px;
}


.container_addcomment h2
{
    color: black;
}


.container_addcomment label
{
    display: block;
	width: 150px;
	float: left;
}


.container_comments
{
    background-color: rgba(245, 245, 245, 0.5);
    margin-bottom: 5%;
}


.headercommentaires h2
{
    color: white;
    margin: 2em 0em 1em;
}


/*VUE DE CONNECTION*/
.page_connection_seconnecter
{
    text-align: center;
    margin: 10px 0px;
}


.login
{
    margin-bottom: 30px;
}


/*VUE ADMIN*/
.admin text-center
{
    color: black;
}

.adminGestion h2
{
    color: white;
}

.text_welcome_administration
{
    text-align: center;
    margin: 20px 0px;
}


.tableau_administration h5
{
    font-weight: bold;
}


.tableau_administration
{
    margin-top: 20px;
}

.formulaire_administration
{
    margin: 5rem 0rem;
}


.formulaire_administration h5
{
    font-weight: bold;
}


.formulaire_administration label
{
    display: block;
	width: 150px;
	float: left;
}


div.bordure
{
    border-bottom: 0.5px solid silver;
    margin-top: 10px;
}


.header_nouveau_billet
{
    margin-top: 100px;
}


.texte_modification_billet
{
    text-align: center;
    margin-top: 20px;
}


.formulaire_nouveau_billet
{
    margin: 100px 0px;
}